<p>Sucessfully connected to server!</p>

<div class="container">
    <section id="page-name">
            <iframe id="main-image" src="https://giphy.com/embed/xT0xeMA62E1XIlup68" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h1>Eat-Da-Cookie</h1>
    </section>

    <section class="row">
        <div class="col-md-7 col-left">
            <table>
                {{#each cookies}}
                    {{#unless devoured}}
                        {{> cookies/cookie-block}}
                    {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-md-5 col-right">
            {{#each cookies}}
                {{#if devoured}}
                    <div>{{id}}. {{cookie_name}}</div>
                {{/if}}
            {{/each}}        
        </div>          
    </section>

    <form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="name" name="cookie-name" rows="2" cols="40" placeholder="What do you want to eat?"></textarea>
        </div>
        <button type="submit">Add cookie</button>
    </form>     
</div>